#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
}

.button-container .button {
  margin: 5px;
}

@media (max-width: 768px) {
  .button-container .button {
      flex: 0 0 48%;
      max-width: 48%;
  }
}

@media (max-width: 480px) {
  .button-container .button {
      flex: 0 0 100%;
      max-width: 100%;
  }
}